<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721262394165-m2nod931hbbhtfh5a6g8oibm2avenov0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721262394165-m2nod931hbbhtfh5a6g8oibm2avenov0</string>
	<key>API_KEY</key>
	<string>AIzaSyCGJSeXAgMds9G6OLAB6VRu4fqZ9TlxrOI</string>
	<key>GCM_SENDER_ID</key>
	<string>721262394165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pushparaj.instagramFlutterClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-22bba</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-22bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721262394165:ios:b093a62ede02421834aa7c</string>
</dict>
</plist>